mixin dropdown(params = {})
  -
    const { label, text, items, multiple = false } = params;
    const classList = (multiple) ? 'js-dropdown_multiple' : 'js-dropdown';

  .dropdown
    label.dropdown__label= label
    .iqdropdown(class=classList)&attributes(attributes)
      .iqdropdown-selection-wrapper
        p.iqdropdown-selection= text
        .iqdropdown-menu
          each item, index in items
              - const { itemLabel, itemCount = 0 } = item;

              .iqdropdown-menu-option(data-id=`item-${index + 1}` data-defaultcount=itemCount)
                div
                  p.iqdropdown-item= itemLabel
