
mixin dropdownItem(index, item)
  .iqdropdown-menu-option(data-id=`item-${index}`)
    div
      p.iqdropdown-item=item 


mixin dropdown(params)

  -
    var {label, text, items, multiple=false} = params
    var classList = (multiple) ? "js_form_dropdown_multiple" : "js_form_dropdown"

  .form_dropdown
    label.form_dropdown__label.like_h3=label      
    .iqdropdown(class=classList)
      .iqdropdown-selection-wrapper
        p.iqdropdown-selection=text
        .iqdropdown-menu
          each item, index in items
            +dropdownItem(index+1, item)
