mixin datepickerBlock(params = {})
  -
    const { label, separated = false, labelSecond = '', value = '', valueSecond = '', inline = false } = params;
    let classListBlock = 'js-datepicker-block';
    if (inline) {
      classListBlock += ' datepicker-block datepicker-block_inline';
    } else if (separated) {
      classListBlock += ' datepicker-block datepicker-block_separated'
    } else {
      classListBlock += ' datepicker-block';
    }

  div(class=classListBlock)&attributes(attributes)
    if (!inline)
      .datepicker-block_wrapper
        label.datepicker-block__label= label
        .datepicker-block__input-wrapper(tabindex=0)
          input.datepicker-block__input(
            type="text"
            name="start-date"
            placeholder="ДД.ММ.ГГГГ"
            required=true
            readonly=true
            tabindex=-1
            data-date=value
            data-label-second=labelSecond
            data-value-second=valueSecond
          )
