mixin input(params = {})
  -
    const {
      label = '',
      type = 'text',
      name = 'name',
      placeholder,
      masked = false,
      subscription = false,
    } = params;
    let classList = 'input__input';
    let modClass = '';
    if (masked) {
      modClass += ' input_masked';
      classList += ' js-input__input_masked';
    }
    if (subscription) {
      modClass += ' input_with-subscription';
    }

  .input(class=modClass)
    if (label)
      label.input__label
        h3= label
    input(class=classList name=name type=type placeholder=placeholder)&attributes(attributes)
