mixin input(params)
  -
    var { label="", type="text", name='name', placeholder, masked = false, subscription = false } = params
    var classList = "form_input__input"
    var modClass = ""

    if (masked) {
      modClass += "form_input_masked"
    }

    if (subscription) {
      modClass += "form_input_with_subscription"
    }
    
  .form_input(class=modClass)
    if (label)
      label.form_input__label
        p.like_h3=label
    input( class=classList type=type placeholder=placeholder )&attributes(attributes)
