mixin rateButton(params)
  -
    var { name, rate=4, disabled=false } = params
    var n = 0
    var className = disabled ? "rate_button_disabled js_rate_button" : "rate_button js_rate_button"

  div(class=className data-rate=rate)
    while n < 5
      input.rate_button__input(type="radio" name=name checked=(n++ == rate) disabled=disabled)