mixin radioButtons(params = {})
  - const { list, name = 'gender' } = params;

  .radio-buttons.js-radio-buttons
    each item, index in list
      -
        const { label, checked = false } = item;
        let labelClass = 'radio-buttons__radio-label';
        if (checked) {
          labelClass += ' radio-buttons__radio-label_checked';
        }

      label.radio-buttons__radio(class=labelClass)= label
        input.radio-buttons__radio-input(
          type="radio"
          name=name
          checked=checked
          value=index
        )
