include ../like-button/like-button

mixin commentBlock(params)
  -
    var { name, img="avatar_1.png", date, comment, likes} = params

  .comment_block
    .comment_block__img_block
      img.comment_block__image(src=require(`../../img/${img}`).default)
    .comment_block__name_block
      .comment_block__name=name
      .comment_block__date=date
    .comment_block__like_button
      +likeButton(likes)
    .comment_block__comment=comment