mixin tagName(tagName)
  -
    let classList = 'type-example__tag-name';
    if (tagName)
      classList += ` ${classList}_size_${tagName.toLowerCase()}`;

  case (tagName)
    when "H1"
      h1(class=classList)= tagName
    when "H2"
      h2(class=classList)= tagName
    when "H3"
      h3(class=classList)= tagName
    default
      div(class=classList)= tagName
