mixin rangeSlider(params = {})
  - const { label, value, text = '' } = params;

  label.js-range-slider.range-slider
    h3.range-slider__label= label
    p.range-slider__value
    input.range-slider__input(
      type="text"
      name="range"
      value=""
      data-type="double"
      data-min=0
      data-max=16000
      data-from=value[0]
      data-to=value[1]
      data-skin="round"
      data-postfix="₽"
      data-hide-min-max="true"
      data-hide-from-to="true"
      data-step="100"
      data-extra-classes="range-slider__slider"
    )
    .range-slider__text= text
