//- <input type="text" class="js-range-slider" name="my_range" value="" />

mixin rangeSlider(params={})
  -
    var { label, value, text="" } = params

  label.js_range_slider.range_slider
    h3.range_slider__label=label
    p.range_slider__value
    input.range_slider__input(
      type="text" name="range" value=""   data-type="double"
      data-min=0
      data-max=16000
      data-from=value[0]
      data-to=value[1]
      data-skin="round"
      data-postfix="₽"
      data-hide-min-max="true"
      data-hide-from-to="true"
      data-step="100"
      data-extra-classes="range_slider__slider"
    )
    .range_slider__text= text
