include ../input/input
include ../button/button
include ../radio-buttons/radio-buttons
include ../toggle-button/toggle-button

mixin registrationCard(params)
  -
    var {label} = params

  form.registration_card(action="/mock-address/change-me" method="post" name="registration-form")
    h1.registration_card__label=label
    .registration_card__name_input
      +input({
        type: "text",
        placeholder: "Имя",
        name: "name"
        })(required=true)
    .registration_card__surname_input
      +input({
        type: "text",
        placeholder: "Фамилия",
        name: "surname"
        })(required=true)
    .registration_card__gender_radio_buttons
      +radioButtons({
        list: [
              {label: "Мужчина", checked: true},
              {label: "Женщина"}
            ]
      } )
    .registration_card__date_input_is_masked
      +input({
        label: "дата рождения",
        type: "text",
        placeholder: "ДД.ММ.ГГГГ",
        name: "dateOfBirth",
        masked: true,
        })(required=true)
    .registration_card__email_input
      +input({
        label: "Данные для входа в сервис",
        type: "email",
        placeholder: "email",
        name: "email"
        })(required=true)
    .registration_card__password_input
      +input({
        type: "password",
        placeholder: "Пароль",
        name: "password"
        })(required=true)
    .registration_card__toggle_button
      +toggleButton({label: "Получать спецпредложения", name:"subscription"})
    .registration_card__submit_button
      +button({
          label: "перейти к оплате",
          type: "submit",
          style: "filled",
          arrow: true
          })

    .registration_card__options
      .registration_card__option_label Уже есть аккаунт на Toxin
      a.registration_card__option_button(href="./login-page.html")
        +button({
          label: "войти",
          style: "no fill"
          })