include ../input/input
include ../button/button
include ../radio-buttons/radio-buttons
include ../toggle-button/toggle-button

mixin registrationCard({ label })
  form.registration-card(action="/mock-address/change-me" method="post" name="registration-form" class="js-registration-card")
    h1.registration-card__label= label
    .registration-card__name-input
      +input({
        type: 'text',
        placeholder: 'Имя',
        name: 'name',
        })(required=true)
    .registration-card__surname-input
      +input({
        type: 'text',
        placeholder: 'Фамилия',
        name: 'surname',
        })(required=true)
    .registration-card__gender-radio-buttons
      +radioButtons({
        list: [
              { label: 'Мужчина', checked: true },
              { label: 'Женщина' },
            ]
      } )
    .registration-card__date-input_masked
      +input({
        label: 'дата рождения',
        type: 'text',
        placeholder: 'ДД.ММ.ГГГГ',
        name: 'dateOfBirth',
        masked: true,
        })(required=true)
    .registration-card__email-input
      +input({
        label: 'Данные для входа в сервис',
        type: 'email',
        placeholder: 'Email',
        name: 'email',
        })(required=true)
    .registration-card__password-input
      +input({
        type: 'password',
        placeholder: 'Пароль',
        name: 'password',
        })(required=true)
    .registration-card__toggle-button
      +toggleButton({ label: 'Получать спецпредложения', name:'subscription' })
    .registration-card__submit-button
      +button({
          label: 'перейти к оплате',
          type: 'submit',
          theme: 'filled',
          withArrow: true,
          })
    .registration-card__options
      .registration-card__option-label Уже есть аккаунт на Toxin
      a.registration-card__option-button(href="./login-page.html")
        +button({ label: 'войти', theme: 'outline' })
