include ../nav-bar/nav-bar
include ../button/button
include ../input/input

mixin footer(params)
  -
    var { lang, withWidgets = true, data } = params
    
    if (lang == "en")
      var currData = data.dataEn.footer
    else if (lang == "ru")
      var currData = data.dataRu.footer

    var { descriptionText, navigationList, aboutUsList, supportList, subscribeBlock, copyrightText } = currData
    
    var classList = "footer"
    if (lang == "ru")
      classList += " footer_ru"

    if (withWidgets)
      classList += " footer_with_widgets"

  footer(class=classList)
    div(class= (withWidgets) ? "footer__logo_n_widgets_block" : "footer__logo")
      .footer__logo_block
        img(class="footer__logo_img" src=require('../../img/Logo.svg').default alt="TOXIN")
        .footer__description= descriptionText
      if (withWidgets)
        .footer__widgets_block
          .footer__navigation_block
            h3.footer__navigation_list_title= navigationList.title
            .footer__navigation_list
              +navBar({itemList: navigationList.list})
          .footer__about_us_block
            h3.footer__about_us_list_title= aboutUsList.title
            .footer__about_us_list
              +navBar( {itemList: aboutUsList.list} )
          .footer__support_block
            h3.footer__support_list_title= supportList.title
            .footer__support_list
              +navBar( {itemList: supportList.list})
        .footer__subscribe_block
          h3.footer__subscribe_title= subscribeBlock.title
          .footer__subscribe_text= subscribeBlock.text
          .footer__subscribe_input
            +input( {placeholder: subscribeBlock.inputPlaceholder, subscription: true })
    .footer__delimiter
    div(class= (withWidgets) ? "footer__copyright_n_socials_block" : "footer__socials")
      if (withWidgets)
        .footer__copyright_block= copyrightText
      .footer__socials_block
        a.footer__social(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer")
          i(class="fab fa-twitter")
        a.footer__social(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer")
          i(class="fab fa-facebook-square")
        a.footer__social(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer")
          i(class="fab fa-instagram")
        