mixin navBarItem(params)
  -
    var {label, isNestedList=false, nestedItems=[], isActive=false} = params
    var classList = "nav_bar__item"
    if (isNestedList)
      classList += "_nested"
    if (isActive)
      classList += " active"

  
  if isNestedList
    li(class= classList)= label
      ul.nav_bar__nested_list
        each item in nestedItems
          +navBarItem(item)
  else
    li(class= classList)
      a.nav_bar__item_link(href=`/mock-address/change-me`)=label


mixin navBar(params)
  -
    var {itemList, display="vertical"} = params
    classList = "nav_bar"
    if (display == "vertical")
      classList += " nav_bar_vertical"

  ul(class=classList)
    each item in itemList
      +navBarItem(item)
