
mixin dropdownItem(index, item)
  .iqdropdown-menu-option(data-id="item-"+index)
    div
      p.iqdropdown-item=item 


mixin dropdown(params)

  -
    const {label, items} = params

  .form_dropdown
    label.form_dropdown__label
      h3=label
    .iqdropdown.js_form_dropdown
      p.iqdropdown-selection="Сколько гостей"
      .iqdropdown-menu
        each item, index in items
          +dropdownItem(index+1, item)
        .iqdropdown-menu-control-buttons
          button.button-clear="Очистить"
          button.button-apply="Применить"
