
mixin dropdownItem(index, item)
  .iqdropdown-menu-option(data-id="item-"+index)
    div
      p.iqdropdown-item=item 


mixin dropdown(params)

  -
    const {label, text, items} = params

  .form_dropdown
    label.form_dropdown__label.like_h3=label
    //- .form_dropdown__input_wrapper
      
    .iqdropdown.js_form_dropdown
      input.form_dropdown__input(placeholder=text readonly)
      p.iqdropdown-selection=text
      .iqdropdown-menu
        each item, index in items
          +dropdownItem(index+1, item)
        .iqdropdown-menu-control-buttons
          button.button-clear="Очистить"
          button.button-apply="Применить"
