mixin input(label, placeholder, isMasked=false, isFocused=false, withDropdown=false)
	-
		var classList = "input__input"
		if (isFocused)	{
			classList += " input__input_isFocused"
		}

	label.input__label
		h3=label
	input(class=classList placeholder=placeholder )